doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="theme-color" content="#616270")
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}

		link(rel="apple-touch-icon-precomposed" sizes="57x57" href=asset("i/app/favicon-57x57.png"))
		link(rel="apple-touch-icon-precomposed" sizes="60x60" href=asset("i/app/favicon-60x60.png"))
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href=asset("i/app/favicon-72x72.png"))
		link(rel="apple-touch-icon-precomposed" sizes="76x76" href=asset("i/app/favicon-76x76.png"))
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href=asset("i/app/favicon-114x114.png"))
		link(rel="apple-touch-icon-precomposed" sizes="120x120" href=asset("i/app/favicon-120x120.png"))
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href=asset("i/app/favicon-144x144.png"))
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href=asset("i/app/favicon-152x152.png"))
		link(rel="icon" type="image/png" sizes="196x196" href=asset("i/app/favicon-196x196.png"))
		link(rel="icon" type="image/png" sizes="96x96" href=asset("i/app/favicon-96x96.png"))
		link(rel="icon" type="image/png" sizes="32x32" href=asset("i/app/favicon-32x32.png"))
		link(rel="icon" type="image/png" sizes="16x16" href=asset("i/app/favicon-16x16.png"))
		link(rel="icon" type="image/png" sizes="128x128" href=asset("i/app/favicon-128x128.png"))
		meta(name="application-name" content="&nbsp;")
		meta(name="msapplication-TileColor" content="#FFFFFF")
		meta(name="msapplication-TileImage" content=asset("i/app/favicon-144x144.png"))
		meta(name="msapplication-square70x70logo" content=asset("i/app/favicon-70x70.png"))
		meta(name="msapplication-square150x150logo" content=asset("i/app/favicon-150x150.png"))
		meta(name="msapplication-wide310x150logo" content=asset("i/app/favicon-310x150.png" ))
		meta(name="msapplication-square310x310logo" content=asset("i/app/favicon-310x310.png"))
	body
		block root
			!= content

		block fonts
		block styles
		block scripts
		block analytics